.submit-button {
  font-size: 14px; /* Reducir el tamaño de la fuente */
  padding: 0.3em 1em; /* Reducir el relleno */
  border: transparent;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.24);
  background: #fefae0;
  border-radius: 40px;
  transition: 0.3s;
}

.submit-button:hover {
  background: linear-gradient(90deg, #FC466B, #3F5EFB);
  cursor: pointer;
}

.submit-button:active {
  transform: translateY(0.2em);
}

.submit-button span {
  font-weight: 800;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #FC466B, #3F5EFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s;
}

.submit-button:hover span {
  background: #2E2E2E;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

